#calendar{
    max-width: 900px;
    margin: auto;
}
#calendar .fc-today{ /* .fc-today - сегодняшний день */
    background: #aaccda;
}
#calendar .fc-day:hover{ /* hover - при наведении */
    background: #aa8c9a;
}
#calendar .fc-day:hover{
    transition: all .7s; /* transition - плавность */
}