<!-- базовая страничка
все штуки будут вставляться в блок контент-->

{% load static %}
<html>
    <head>
        <title>SLD & Travvy Events</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/wcal.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"> <!-- файл скачанных стилей стилей -->
	    <link rel="stylesheet" href="{% static 'fc/fullcalendar.css' %}"> <!-- файл стилей -->
	    <link rel="stylesheet" href="{% static 'fc/fullcalendar.print.css' %}" media="print"> <!-- для печати -->
	    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- наш файл стилей -->

    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'event_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'calendar'%}" class="top-menu"><span class="glyphicon glyphicon-calendar"></span></a>
            <h1><a href="/">SLD & Travvy Events</a></h1>
        </div>
        <div class="content container">
             <div class="row">
                <div class="col-md-8">

                {% block calend %}
                {% endblock %}
                {% block content %}
                 {% endblock %}
                </div>
            </div>
        </div>

      <script src="http://code.jquery.com/jquery.min.js"></script> <!-- подключаем библиотеку jquery -->
      <script src="{% static 'fc/lib/moment.min.js' %}"></script> <!-- подключаем библиотеку moment -->
      <script src="{% static 'fc/fullcalendar.js' %}"></script> <!-- подключаем сам фул календарь -->
      <script src="{% static 'fc/lang/ru.js' %}"></script> <!-- подключаем перевод на Русский +  первый день недели - понедельник -->
      <script src="{% static 'js/main.js' %}"></script> <!-- подключаем наш js файл -->

    </body>
</html>
