<!-- базовая страничка
все штуки будут вставляться в блок контент-->

{% load static %}
<html>
    <head>
        <title>SLD & Travvy Events</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/wcal.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">

    </head>
    <body>
      <div class="page-header">
          <a href="{% url 'event_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          <h1><a href="/">SLD & Travvy Events</a></h1>
      </div>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">

              {% block calend %}
              {% endblock %}
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
    </body>
</html>
